@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Boss Jewelry</h1>
    <p class="lead">Boss Jewelry je kompanija koja se bavi prodajom satova, ogrlica i prstenja najpoznatijih svetskih i domaćih brendova.</p>
</div>


</div>